/* body span {
    position: fixed;
    top: 0%;
} */

body {
    background-image: url("../iamge/images.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body span li {
    display: inline;
    margin-left: 10%;
}

.hide {
    visibility: hidden;
    max-height: 0;
}

.hide1 {
    visibility: hidden;
    max-height: 0;
}

a {
    text-decoration: none;
    color: #ff9900;
}

main h1 {
    color: #603;
}

body span img {
    width: 6%;
    height: 50%;
}

#storeinfo {
    margin-top: 50px;
    border-collapse: collapse;
}

#storeinfo th {
    border: 1px solid white;
    color: #ff9900;
}

#user {
    margin-top: 50px;
}

#user legend {
    color: #ff9900;
}

#user label {
    color: #ff9900;
}

footer {
    font-size: larger;
    text-align: end;
    color: white;
}