body spam li {
    display: inline;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: white;
}

main {
    text-align: center;
    color: white;
}

main h1 {
    color: red;
}

body spam img {
    width: 6%;
    height: 50%;
}

body {
    background-image: url("../iamge/download.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img1 {
    width: 15%;
    height: 120px;
}

.img2 {
    width: 15%;
    height: 120px;
}

.img3 {
    width: 15%;
    height: 120px;
}

.im1 {
    width: 100px;
    float: left;
}

footer {
    text-align: center;
    background-color: white;
    color: black;
    float: inline-end;
}

.p1 {
    color: white;
    font-size: large;
}