body span {
    position: fixed;
    top: 0%;
}

body span li {
    display: inline;
    margin-left: 10%;
}

.hide {
    visibility: hidden;
    max-height: 0;
}

.hide1 {
    visibility: hidden;
    max-height: 0;
}

a {
    text-decoration: none;
    color: #660033;
}

main h1 {
    color: #603;
    font-family: 'Ballet', cursive;
    font-family: 'Reggae One', cursive;
}

main p {
    position: relative;
    left: 290px;
    text-align: center;
    width: 460px;
    color: #306;
    font-size: large;
    font-family: 'Ballet', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Reggae One', cursive;
}

body span img {
    width: 6%;
    height: 50%;
}

body {
    background-image: url("../iamge/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img1 {
    width: 15%;
    height: 160px;
    margin-left: 100px;
    margin-right: 120px;
    margin-top: 100px;
}

.img2 {
    width: 15%;
    height: 150px;
    margin-right: 170px;
}

.img3 {
    width: 25%;
    height: 160px;
}

.img4 {
    width: 25%;
    height: 160px;
    margin-left: 300px;
}

.im1 {
    width: 390px;
    height: 250px;
}

footer {
    color: white;
}

.p3 {
    color: #663366;
    font-style: italic;
    font-size: large;
    font-style: italic;
}

.p4 {
    color: white;
}

table {
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid #333300;
    color: #660033;
}